import { {{module_name}} } from "~/models";
import { ChevronRightIcon } from "@heroicons/react/outline";
import { generatePath, Link, Params } from "react-router-dom";

export const {{module_name}}MobileList = (item: {{module_name}}, rowTo: string) => {
  const url = generatePath(rowTo, item as unknown as Params<string>);

  return (
    <Link
      to={url}
      key={item.id}
      className="flex w-full items-center justify-between border-t py-3 px-4 text-left last:border-b hover:bg-table-row-hover"
    >
      <div>
        <p className="font-bold">
          {item?.nameFirst} {item?.nameLast}
        </p>
        <p className="text-muted-text">
          {item?.position} at {item?.company}
        </p>
      </div>
      <div>
        <ChevronRightIcon className="w-5" />
      </div>
    </Link>
  );
};
