import { Button } from "@chakra-ui/react";
import { Form, Formik } from "formik";
import { useState } from "react";

import { ModelInit } from "@aws-amplify/datastore";
import * as Yup from "yup";
import { Input } from "~/components";
import { useDrawer } from "~/hooks";
import { {{module_name}}, {{module_name}}MetaData } from "~/models";

export type {{module_name}}Fields = ModelInit<{{module_name}}, {{module_name}}MetaData>;
type Parital{{module_name}}Fields = Partial<{{module_name}}Fields>;

interface Props {
  initValues: Parital{{module_name}}Fields;
  submitText: string;
  onSubmit: (values: {{module_name}}Fields) => Promise<void>;
}

const empty{{module_name}}: {{module_name}}Fields = {
  {{#each field_names}}
    {{this}}: "",
  {{/each}}
};

const schema = Yup.object().shape({
  {{#each field_names}}
    {{this}}: Yup.string().label("{{this}}"),
  {{/each}}
});

export const {{module_name}}Form: React.FC<Props> = ({
  initValues,
  onSubmit,
  submitText,
}) => {
  const [isLoading, setIsLoading] = useState(false);
  const { closeDrawer } = useDrawer();
  const initialValues = { ...empty{{module_name}}, ...initValues };

  const handleSubmit = async (values: {{module_name}}Fields) => {
    setIsLoading(true);
    try {
      await onSubmit(values);
      closeDrawer();
    } catch (e) {
      console.log(e);
    } finally {
      setIsLoading(false);
    }
  };

  return (
    <Formik
      initialValues={initialValues}
      validationSchema={schema}
      onSubmit={handleSubmit}
    >
      <Form>

        {{#each field_names}}
          <Input label={t`{{this}}`} type="text" name="{{this}}" />
        {{/each}}

        <div className="space-x-3 pt-4">
          <Button type="submit" className="btn-primary" isLoading={isLoading}>
            {submitText}
          </Button>
          <Button onClick={closeDrawer} isLoading={isLoading}>
            {t`cancel`}
          </Button>
        </div>
      </Form>
    </Formik>
  );
};
