export default {
  en: {
    {{camelCase module_name}}Detail: "{{sentenceCase module_name}} Detail",
    add{{module_name}}: "Add {{module_name}}",
    create{{module_name}}: "Create {{sentenceCase module_name}}",
    delete{{module_name}}: "Delete {{sentenceCase module_name}}",
    delete{{module_name}}s: "Delete {{sentenceCase module_name}}s",      
    import{{module_name}}: "Import {{sentenceCase module_name}}s",
    {{#each field_names}}
      {{this}}: "{{sentenceCase this}}",
    {{/each}}
  },
  es: {
    {{camelCase module_name}}Detail: "{{sentenceCase module_name}} Detail",
    add{{module_name}}: "Add {{module_name}}",
    create{{module_name}}: "Create {{sentenceCase module_name}}",
    delete{{module_name}}: "Delete {{sentenceCase module_name}}",
    delete{{module_name}}s: "Delete {{sentenceCase module_name}}s",      
    import{{module_name}}: "Import {{sentenceCase module_name}}s",
    {{#each field_names}}
      {{this}}: "{{sentenceCase this}}",
    {{/each}}
  },
};
