import {
  Button,
  Hide,
} from "@chakra-ui/react";
import {
  PlusIcon,
  TrashIcon,
} from "@heroicons/react/outline";
import { DataStore } from "aws-amplify";

import { useAdd{{module_name}} } from ".";
import { use{{module_name}}Picker } from "./hooks/use{{module_name}}Picker";
import {
  ActionBar,  
  MobileTitle,
  ReportMenu,
  SearchForm,
  SearchInput,
  Sections,
  SkeletonList,
} from "~/components";
import { useDeleteConfirmation, useRecord } from "~/datastore";
import { useRoutes, useTrackRecent } from "~/hooks";
import { {{module_name}} } from "~/models";
import reports from "~/reports/{{camelCase module_name}}";

export const {{module_name}}Detail = () => {
  const { routes } = useRoutes();
  const { data: {{camelCase module_name}}, loading } = useRecord({{module_name}});
  useTrackRecent({{module_name}}, {{camelCase module_name}}, loading);
  const deleteConfirmation = useDeleteConfirmation();
  const add{{module_name}} = useAdd{{module_name}}();
  const { showPicker } = use{{module_name}}Picker({
    title: "Select {{module_name}}s",
    multiple: true,
    size: "2xl",
  });

  const test = async () => {
    const picked = await showPicker();
    console.log({ picked });
  };


  if (loading || !{{camelCase module_name}}) return <SkeletonList />;

  return (
    <div className="">
      <div className="mb-4 items-center justify-between space-y-4 sm:flex sm:space-y-0">
        <ActionBar>
          <Hide below="sm">
            <Button leftIcon={<PlusIcon className="w-4" />} onClick={add{{module_name}} }>
              {t`add{{module_name}}`}
            </Button>
          </Hide>
          <Button
            onClick={() =>
              deleteConfirmation({
                selected: {{camelCase module_name}},
                body: `${t("areYouSureYouWantToDelete")} this item?`,
                onDelete: () => routes.{{camelCase module_name}}Index.go(),
              })
            }
            className="hover:bg-danger hover:text-white"
            leftIcon={<TrashIcon className="w-4" />}
          >
            {t`delete{{module_name}}`}
          </Button>
        </ActionBar>

        <div className="flex space-x-3 pl-0 md:pl-4">
          <SearchForm action={routes.{{camelCase module_name}}Index.url()} submitOnEnter>
            <SearchInput
              name="{{camelCase module_name}}Search"
              placeholder={t`search...`}
              className="bg-card"
            />
          </SearchForm>
          <ReportMenu reports={reports} />
        </div>
      </div>

      <div className="space-y-4 lg:flex lg:space-x-4 lg:space-y-0">
        <div className="card lg:w-1/4">
          <div className="space-y-3">
            {{#each field_names}}
            <div>
              <p className="text-xs text-muted-text">{t`{{this}}`}</p>
              <p>{ {{camelCase ../module_name}}.{{this}} ?? "NA"}</p>
            </div>
            {{/each}}

          </div>
        </div>
        <div className="lg:w-3/4">
          <Sections
            sections={[
              {
                label: t`tab`,
                element: <div>Tab Content</div>,
              },
              {
                label: t`tab2`,
                element: <div>Tab Content 2</div>,
              },
            ]}
          />
        </div>
      </div>
      <MobileTitle
        leftButtonText={routes.{{camelCase module_name}}Index.label}
        leftButtonAction={() => routes.{{camelCase module_name}}Index.go()}
        rightButton={
          <Button className="btn-title" onClick={add{{module_name}} }>
            Add {{module_name}}
          </Button>
        }
      />
    </div>
  );
};

export default {{module_name}}Detail;
