import { Column } from "~/components";
import { {{module_name}} } from "~/models";

export const {{lowerCase module_name}}Columns: Column<{{module_name}}>[] = [
 {{#each field_names}}
  {
    key: "{{this}}",
  },
  {{/each}}
];
