import { Button } from "@chakra-ui/react";
import {
  DownloadIcon,
  MenuAlt2Icon,
  PlusIcon,
  ViewGridIcon,
} from "@heroicons/react/outline";
import { Link } from "react-router-dom";

import { {{module_name}}Filter, {{module_name}}MobileList, {{lowerCase module_name}}Columns, useAdd{{module_name}} } from ".";
import {
  FilterMenu,
  MobileTitle,
  RecentsBar,
  ReportMenu,
  SearchInput,
  SkeletonList,
  Table,
  TableActionButton,
} from "~/components";
import { useDeleteConfirmation, useQuery } from "~/datastore";
import { useDrawer, useRoutes, useViewIndicator } from "~/hooks";
import { {{module_name}} } from "~/models";
import reports from "~/reports/{{lowerCase module_name}}";

export const {{module_name}}Index = () => {
  const { routes } = useRoutes();
  const { openDrawer, closeDrawer } = useDrawer();
  const { data: {{lowerCase module_name}}s, loading } = useQuery<{{module_name}}>({ model: {{module_name}} });
  const add{{module_name}} = useAdd{{module_name}}();
  const deleteConfirmation = useDeleteConfirmation();
  const { ViewIndicator, getPanelProps } = useViewIndicator([
    { label: "List View", icon: <MenuAlt2Icon className="w-5" /> },
    { label: "Dashboard", icon: <ViewGridIcon className="w-5" /> },
  ]);
  const count = {{lowerCase module_name}}s.length;

  if (loading) return <SkeletonList />;
  return (
    <div className="">
      <div className="mb-4 items-center justify-between space-y-4 sm:flex sm:space-y-0">
        <div className="hidden items-center space-x-3 sm:flex">
          <Button leftIcon={<PlusIcon className="w-4" />} onClick={add{{module_name}} }>
            {t`add{{module_name}}`}
          </Button>
          <Button
            to={routes.{{lowerCase module_name}}Import.url()}
            as={Link}
            leftIcon={<DownloadIcon className="w-4" />}
          >
            {t`import{{module_name}}`}
          </Button>
          <p>
            {t`found`}: {count}
          </p>
        </div>
        <div className="flex space-x-3">
          <SearchInput
            autoFocus
            name="{{module_name}}Search"
            placeholder={t`search...`}
            className="bg-card"
          />

          <FilterMenu
            modelName={ {{module_name}}.name}
            onAdvancedClick={() =>
              openDrawer({
                title: "Filter",
                size: "md",
                body: <{{module_name}}Filter closeModal={closeDrawer} />,
              })
            }
          />

          <ReportMenu reports={reports} />
        </div>
      </div>

      <div className="flex items-start space-x-3 mb-4">
        <ViewIndicator />
        <RecentsBar model={ {{module_name}} } />
      </div>

      <div className="card">
        <div {...getPanelProps("List View")}>
          <Table
            data={ {{lowerCase module_name}}s}
            globalSearchKey="{{lowerCase module_name}}Search"
            columns={ {{lowerCase module_name}}Columns}
            rowTo={routes.{{lowerCase module_name}}Detail.path}
            RenderMobile={ {{module_name}}MobileList}
          >
            <TableActionButton
              className="btn-danger"
              onClick={(selected) => deleteConfirmation({ selected })}
            >
              {(selectedCount) =>
                `${t("delete")} ${selectedCount} ${t("selected")}?`
              }
            </TableActionButton>
          </Table>
        </div>
      </div>

      <MobileTitle
        subtitle={`${ {{lowerCase module_name}}s.length} {{module_name}}s`}
        leftButtonText={routes.home.label}
        leftButtonAction={() => routes.home.go()}
        rightButton={
          <Button className="btn-title" onClick={add{{module_name}} }>
            {t`add{{module_name}}`}
          </Button>
        }
      />
    </div>
  );
};

export default {{module_name}}Index;
