@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      --color-page: 252, 252, 253;
      --color-card: 255, 255, 255;
      --color-modal: 255, 255, 255;
  
      --color-accent: 43, 108, 176;
      --color-accent-hover: 43, 108, 176;
      --color-warning: 216, 177, 50;
      --color-danger: 225, 29, 72;
      --color-danger-hover: 190, 18, 60;
  
      --color-default-text: 26, 32, 44;
      --color-muted-text: 120, 120, 130;
      --color-inverted-text: 255, 255, 255;
  
      --color-input-background: 250, 250, 249;
      --color-input-border: 226, 232, 240;
      --color-input-error: 229, 62, 62;
  
      --color-button-default: 245, 245, 245;
      --color-button-default-hover: 235, 235, 235;
  
      --color-table-row-hover: 239, 246, 255;

      --color-border-default: 226, 232, 240;
  
      /*Chakra Overrides*/
      --chakra-colors-gray-100: rgb(var(--color-button-default));
      --chakra-colors-gray-200: rgb(var(--color-button-default-hover));
      --chakra-colors-gray-300: rgb(var(--color-button-default-hover));
    }
  
    .dark {
      --color-page: 30, 30, 46;
      --color-card: 39, 41, 61;
      --color-modal: 45, 55, 72;
  
      --color-accent: 99, 179, 237;
      --color-accent-hover: 99, 179, 237;
      --color-warning: 216, 177, 50;
      --color-danger: 225, 29, 72;
      --color-danger-hover: 190, 18, 60;
  
      --color-default-text: 255, 255, 255;
      --color-muted-text: 174, 174, 195;
      --color-inverted-text: 255, 255, 255;
  
      --color-input-background: 29, 29, 46;
      --color-input-border: 17, 17, 24;
      --color-input-error: 252, 129, 129;
  
      --color-button-default: 62, 62, 102;
      --color-button-default-hover: 65, 76, 129;
  
      --color-table-row-hover: 34, 34, 56;

      --color-border-default: 74, 75, 92;
    }
  
    .app {
      @apply text-default-text transition-all duration-200;
    }
  
    .default-input {
      @apply block w-full rounded-lg border-input-border bg-input-background py-1.5 transition-all duration-200 focus:ring focus:ring-accent !important;
    }
  
    label {
      @apply block pb-1 text-sm;
    }
  }
  
  @layer components {
    .flex-center {
      @apply flex items-center justify-center;
    }
  
    .card {
      @apply rounded-lg bg-card p-4 shadow transition-all duration-200;
    }
  
    .btn-title {
      @apply flex h-full items-center space-x-1 bg-transparent px-4 text-left font-normal text-accent focus:shadow-none focus:outline-none !important;
    }
    .btn-primary {
      @apply bg-accent hover:bg-accent-hover text-white !important;
    }
    .btn-danger {
      @apply bg-danger hover:bg-danger-hover text-white !important;
    }
  
    .mobile-nav {
      @apply flex-grow pt-2 text-center text-xs text-muted-text hover:bg-page;
      padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
    }
    .mobile-nav.active {
      @apply text-accent;
    }

    .settings-nav{
      @apply text-muted-text hover:text-default-text
    }
    .settings-nav.active {
      @apply underline text-accent;
    }
  }

  @layer utilities {
    .flip {
      transform: rotateX(180deg);
    }
  }
  
  