import { DataStore } from "aws-amplify";

import { {{module_name}}Fields, {{module_name}}Form } from "..";
import { useDrawer, useRoutes } from "~/hooks";
import { {{module_name}} } from "~/models";
import { newModel } from "~/utils";

export const useAdd{{module_name}} = () => {
  const { routes } = useRoutes();
  const { openDrawer, closeDrawer } = useDrawer();

  const save{{module_name}} = async (values: {{module_name}}Fields) => {
    const {{lowerCase module_name}} = await DataStore.save(newModel({{module_name}}, values));
    closeDrawer();
    routes.{{lowerCase module_name}}Detail.go({ id: {{lowerCase module_name}}.id });
  };

  const add{{module_name}} = () => {
    openDrawer({
      title: t`add{{module_name}}`,
      body: (
        <{{module_name}}Form
          initValues=\{{}}
          submitText={t`create{{module_name}}`}
          onSubmit={save{{module_name}} }
        />
      ),
    });
  };

  return add{{module_name}};
};
