import { Predicates, SortDirection } from "aws-amplify";

import { DefaultPickerRow, Picker } from "~/components";
import { useQuery } from "~/datastore";
import { ModalState, useFuseOptions, useModal } from "~/hooks";
import { {{module_name}} } from "~/models";

const fuseOptions: useFuseOptions<{{module_name}}> = {
  keys: ["nameFirst", "company", "position"],
  getFn: (item, [path]) => {
    if (path === "nameFirst") return `${item?.nameFirst} ${item?.nameLast}`;
    const key = path as keyof {{module_name}};
    return item?.[key] ?? "";
  },
};

export const use{{module_name}}Picker = (
  props: Omit<ModalState, "isOpen" | "body"> & { multiple?: boolean }
) => {
  const { multiple, ...modalProps } = props;
  const { showModal, closeModal } = useModal();
  const { data, loading } = useQuery({
    model: {{module_name}},
    query: Predicates.ALL,
    sort: (s) =>
      s.nameFirst(SortDirection.ASCENDING).nameLast(SortDirection.ASCENDING),
  });

  const showPicker = async () =>
    showModal({
      ...modalProps,
      body: (
        <Picker
          closeModal={() => closeModal()}
          multiple={multiple}
          data={data}
          loading={loading}
          fuseOptions={fuseOptions}
        >
          {(rowProps) => (
            <DefaultPickerRow {...rowProps}>
              <div>
                <div>
                  {rowProps.item.nameFirst} {rowProps.item.nameLast}
                </div>
                <div className="text-sm text-muted-text">
                  {rowProps.item.position} at {rowProps.item.company}
                </div>
              </div>
            </DefaultPickerRow>
          )}
        </Picker>
      ),
    });

  return { closePicker: closeModal, showPicker };
};
