import { Button, FormControl, FormLabel } from "@chakra-ui/react";

import { PageSpinner, SearchForm, SearchSelect } from "~/components";
import { useQuery } from "~/datastore";
import { {{module_name}} } from "~/models";

function Options() {
  return (
    <SearchForm>
      <Button type="submit">{t`update`}</Button>
    </SearchForm>
  );
}

function Report() {
  const { data: {{camelCase module_name}}s, loading } = useQuery({ model: {{module_name}} });
  if (loading) return <PageSpinner />;

  return (
    <div className="min-h-screen bg-white p-4 text-xs text-black print:p-0">
      <table className="w-full">
        <thead className="font-bold">
          <tr>
            {{#each field_names}}
              <td>{t`{{this}}` }</td>
            {{/each}}  
          </tr>
        </thead>
        <tbody>
          { {{camelCase module_name}}s.map(({{camelCase module_name}}) => (
            <tr key={ {{camelCase module_name}}.id }>
                {{#each field_names}}
                  <td>{ {{camelCase ../module_name}}.{{this}} }</td>
                {{/each}}
            </tr>
          )) }
        </tbody>
      </table>
    </div>
  );
}

export default {
  category: "{{module_name}}" as const,
  name: "{{module_name}} List",
  path: "{{kebabCase module_name}}-list",
  report: <Report />,
  reportOptions: <Options />,
};
