import { Button, FormControl, FormLabel, useColorMode } from "@chakra-ui/react";

import Papa from "papaparse";
import { PageSpinner, SearchForm, SearchSelect } from "~/components";
import { useQuery } from "~/datastore";
import { {{module_name}} } from "~/models";

declare global {
  interface Window {
    $downloadCSV: () => void;
  }
}

function Options() {
  return (
    <SearchForm>
      <Button type="submit">Update</Button>
    </SearchForm>
  );
}

function Report() {
  const { colorMode } = useColorMode();
  const { data, loading } = useQuery({ model: {{module_name}} });
  if (loading) return <PageSpinner />;

  const columns = Object.keys(data[0]).filter(
    (column) => !column.startsWith("_") && !column.startsWith("key")
  );
  console.log(columns);

  const downloadCSV = () => {
    const formattedData = data.map((row: any) =>
      columns.reduce(
        (acc, column) => ({ ...acc, [t(column)]: row[column] }),
        {}
      )
    );

    const csv = Papa.unparse(formattedData);
    const csvData = new Blob([csv], { type: "text/csv;charset=utf-8;" });
    const csvURL = window.URL.createObjectURL(csvData);

    const downloadLink = document.createElement("a");
    downloadLink.href = csvURL;
    downloadLink.setAttribute("download", "export.csv");
    downloadLink.click();
  };

  window.$downloadCSV = downloadCSV;

  return (
    <div className={`text-xs w-[3000px] ${colorMode}`}>
      <table>
        <thead>
          <tr>
            {{#each field_names}}
              <td className="border px-0.5 py-1 font-bold sticky top-0 bg-card">
                {t`{{this}}` }
              </td>
            {{/each}}              
          </tr>
        </thead>
        <tbody>
          {data.map((row) => (
            <tr key={row.id}>
              {{#each field_names}}
                <td className="border p-0.5">{row.{{this}} }</td>
              {{/each}}
            </tr>
          ))}
        </tbody>
      </table>
    </div>
  );
}

export default {
  category: "{{module_name}}" as const,
  name: "{{module_name}} CSV",
  path: "{{kebabCase module_name}}-csv",
  isCsv: true,
  report: <Report />,
  reportOptions: <Options />,
};
